<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"content="width=device-width, initial-scale=1">
  <title>MarsBQ</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <a href="#main-content" class="visuallyhidden">Skip to main content</a>
  <header class="header-container" role="banner">
    <nav class="site-nav" role="navigation">
      <div class="wrap">
        <ul class="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Venue</a></li>
        </ul>
      </div>
    </nav>
      <div class="wrap">
        <img src="marsbq_logo.png" alt="Mars BQ">
        <p>Join us for the first intergalactic BBQ</p>
        <h2>Saturday November 5, 2056</h2>
        <a href="#register" class="btn">Register to Attend</a>
      </div>
  </header>

  <main role="main" id="main-content">
    <div id="date" class="countdown-container">
      <div class="wrap">
        <ul class="countdown-list">
          <li><span class="countdown-time"><%= dates.years %></span> years</li>
          <li><span class="countdown-time"><%= dates.days %></span> days</li>
          <li><span class="countdown-time"><%= dates.hours %></span> hours</li>
          <li><span class="countdown-time"><%= dates.minutes %></span> minutes</li>
        </ul>
      </div>
    </div>

    <div id="register" class="registration-container">
      <div class="wrap">
        <h2>Register</h2>
        <form action="/names" method="POST" id="sign-up">
          <fieldset>
            <legend>Registration form</legend>
            <label for="full-name">Name:
              <input type="text" placeholder="Adam Scott" name="name" id="full-name">
            </label>
            <button type="submit" id="submit" class="submit-button">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div id="attendees" class="attendee-container">
      <div class="wrap">
        <h2>Attendees</h2>
        <ul id="name-list">
        <% for(var i=0; i<names.length; i++) {%>
          <li>
            <%= names[i] %>
          </li>
        <% } %>
        </ul>
      </div>
    </div>
  </main>

  <footer class="footer-container" role="contentinfo">
    <div class="wrap">
      <small>&copy; <%= new Date().getFullYear() %> Snacks in Space</small>
    </div>
  </footer>


  <script src="main.js"></script>
</body>
</html>
